<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
        <% @product.reviews.reverse.each do |review| %>
        <dt>Rating</dt>
        <dd><%= review.rating.to_i%></dd>
        <dt>Review</dt>
        <dd><%= review[:description]%></dd>
        <dd>
        <% if review.user == current_user %>
        <%= link_to 'Delete', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
        <dd>
        <% end %>
        <% end %>
        </dl>
      </div>

    <% if current_user %>
      <%= form_for(@review, url: product_reviews_path(@product)) do |f| %>
        Rating: <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), :prompt => "Select One", :class => 'genForm_dropBox' %>
        Review: <%= f.text_area :description %>
        <%= f.submit "Post" %>
      <% end %>
    <% end %>

    </div>
  </article>
</section>
